#VS Code workspace
*.code-workspace

#MacOS trash file
.DS_Store

#Postman
agora-betterauth.postman_collection.json
frontend/src/config.ts
# *.sh

.claude
gantt tasks.txt
/*.txt

TODO.md
CHANGELOG.md
DONE.md

.continue
/*.txt

gmail_api_rollback_guide.md
backend/scripts/move-test-to-multivendor.js
implementation_plan2.md
tmp_sync
.

*.ps1
sync-trunk.sh
