#VS Code workspace
*.code-workspace

#MacOS trash file
.DS_Store

#Postman
agora-betterauth.postman_collection.json
frontend/src/config.ts
*.sh

.claude
gantt tasks.txt
/*.txt

TODO.md
change-log.md
DONE.md

.continue
/*.txt
backend/scripts/move-test-to-multivendor.js
gmail_api_rollback_guide.md
tmp_sync
.

*.ps1